<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="reactor" value="https://www.myget.org/F/reactor/auth/c55b3e56-b2bb-4671-87bd-c1ee7a621dc2/api/v3/index.json" protocolVersion="3" />
    <!--<add key="endjin-ip" value="https://pkgs.dev.azure.com/endjin/_packaging/endjin-ip/nuget/v3/index.json" protocolVersion="3" />-->
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>
